/* src/ImageGallery.css */
.gallery {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adjust the spacing between images */
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .image-frame {
    border-radius: 8px; /* Rounded corners for the frame */
    overflow: hidden; /* Ensures the images fit within the frame */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Blur effect for the background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Padding around the image */
  }
  .image-frame img {
  width: 100%; /* Ensures the image fills the frame */
  height: auto; /* Keeps the image aspect ratio */
  display: block; /* Removes bottom space under the image */
  margin: 0;
}
  
  .gallery-image {
    max-width: 300%; /* Ensures the image fills the frame */
    max-height: 400px; /* Maximum image height */
    object-fit: cover; /* Ensures the image covers the frame area */
  }